asgiref==3.4.1
click==8.0.1
colorama==0.4.4
fastapi==0.68.1
fastapi-crudrouter==0.8.3
greenlet==1.1.1
h11==0.12.0
names==0.3.0
psycopg2==2.9.1
pydantic==1.8.2
pydantic-sqlalchemy==0.0.9
python-dotenv==0.19.0
sa2schema==0.1.5
SQLAlchemy==1.4.25
SQLAlchemy-Utc==0.14.0
sqlalchemy2-stubs==0.0.2a17
sqlmodel==0.0.4
starlette==0.14.2
typing==3.7.4.3
typing-extensions==3.10.0.2
uvicorn==0.15.0
